{%  extends 'base.html' %}
{% block head_title %}
    {{ block.super }}
    Homepage
{% endblock head_title %}
{% block content %}
    <form method="POST" action="/">
        Tytuł: {{form.title}}
        Autor: {{form.author}}
        Data Przeczytania: {{form.readed}}
        Opinia: {{form.review}}
        {% csrf_token %}
        
        <input type="submit" name="Add book">
    </form>
    <h4>Books:</h4>
    <div class="row">
        {% for book in books %}
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text">Author:{{ book.author }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}